body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
  }

.round-count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.round-count h3 {
    padding-right: 1em;
}

.round-count p {
    padding-right: 1em;
}

/**
 * CSS sprite for a dice with six faces.
 */
 .dice-sprite {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
    background: url(dice-faces.jpg) no-repeat;
}

.dice-sprite.dice-1 { background-position: -160px 0; }
.dice-sprite.dice-2 { background-position: -128px 0; }
.dice-sprite.dice-3 { background-position: -96px 0; }
.dice-sprite.dice-4 { background-position: -64px 0; }
.dice-sprite.dice-5 { background-position: -32px 0; }
.dice-sprite.dice-6 { background-position: 0 0; }

.dices form {
    display: flex;
    flex-direction: row;
}

.dice-div {
    width: 30px;
    margin: 1em;
    cursor: pointer;
}

.select-dice-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-game-btn {
    margin-top: 2em;
}